# Extracting Movies with tmbd api

## References

- Getting Started 
    - https://developers.themoviedb.org/3/getting-started/introduction

- API info saved in ~/.secret/tmdg_api.json
    - https://www.themoviedb.org/settings/api
```python
f"https://api.themoviedb.org/3/movie/76341?api_key={api_key}"
```

- How to authenticate?
    - [Authentification](https://developers.themoviedb.org/3/getting-started/authentication)
    - [Create auth token](https://developers.themoviedb.org/3/authentication/create-request-token)

In [1]:
import json
import pandas as pd
import requests

In [2]:
with open('/Users/jamesirving/.secret/tmdb_api.json') as f:
    api_info = json.load(f)
api_key = api_info['api-key']

## Searching With Discover

In [3]:
url = f"https://api.themoviedb.org/3/discover/movie?api_key={api_key}&language=en-US&sort_by=popularity.desc&include_adult=false&include_video=false&page=1"
url+='&year=2018'

In [4]:
resp = requests.get(url)
resp

In [5]:
resp.json()

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/VuukZLgaCrho2Ar8Scl9HtV3yD.jpg',
   'genre_ids': [878, 28],
   'id': 335983,
   'original_language': 'en',
   'original_title': 'Venom',
   'overview': 'Investigative journalist Eddie Brock attempts a comeback following a scandal, but accidentally becomes the host of Venom, a violent, super powerful alien symbiote. Soon, he must rely on his newfound powers to protect the world from a shadowy organization looking for a symbiote of their own.',
   'popularity': 433.549,
   'poster_path': '/2uNW4WbgBXL25BAbXGLnLqX71Sw.jpg',
   'release_date': '2018-09-28',
   'title': 'Venom',
   'video': False,
   'vote_average': 6.8,
   'vote_count': 11239},
  {'adult': False,
   'backdrop_path': '/lmZFxXgJE3vgrciwuDib0N8CfQo.jpg',
   'genre_ids': [12, 28, 878],
   'id': 299536,
   'original_language': 'en',
   'original_title': 'Avengers: Infinity War',
   'overview': 'As the Avengers and their allies have continued to protect the world from threats too large for any one hero to handle, a new danger has emerged from the cosmic shadows: Thanos. A despot of intergalactic infamy, his goal is to collect all six Infinity Stones, artifacts of unimaginable power, and use them to inflict his twisted will on all of reality. Everything the Avengers have fought for has led up to this moment - the fate of Earth and existence itself has never been more uncertain.',
   'popularity': 320.51,
   'poster_path': '/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg',
   'release_date': '2018-04-25',
   'title': 'Avengers: Infinity War',
   'video': False,
   'vote_average': 8.3,
   'vote_count': 22494},
  {'adult': False,
   'backdrop_path': '/6qVF0gnLnbKCgcMfCpCB8GH7B5I.jpg',
   'genre_ids': [28, 12, 16, 878, 35],
   'id': 324857,
   'original_language': 'en',
   'original_title': 'Spider-Man: Into the Spider-Verse',
   'overview': 'Miles Morales is juggling his life between being a high school student and being a spider-man. When Wilson "Kingpin" Fisk uses a super collider, others from across the Spider-Verse are transported to this dimension.',
   'popularity': 254.698,
   'poster_path': '/iiZZdoQBEYBv6id8su7ImL0oCbD.jpg',
   'release_date': '2018-12-06',
   'title': 'Spider-Man: Into the Spider-Verse',
   'video': False,
   'vote_average': 8.4,
   'vote_count': 9780},
  {'adult': False,
   'backdrop_path': '/gKZAQ3b9yApxFunUBlS5Mp74QG4.jpg',
   'genre_ids': [10751, 16, 14, 10402, 35, 12],
   'id': 354912,
   'original_language': 'en',
   'original_title': 'Coco',
   'overview': "Despite his family’s baffling generations-old ban on music, Miguel dreams of becoming an accomplished musician like his idol, Ernesto de la Cruz. Desperate to prove his talent, Miguel finds himself in the stunning and colorful Land of the Dead following a mysterious chain of events. Along the way, he meets charming trickster Hector, and together, they set off on an extraordinary journey to unlock the real story behind Miguel's family history.",
   'popularity': 210.017,
   'poster_path': '/gGEsBPAijhVUFoiNpgZXqRVWJt2.jpg',
   'release_date': '2017-10-27',
   'title': 'Coco',
   'video': False,
   'vote_average': 8.2,
   'vote_count': 14326},
  {'adult': False,
   'backdrop_path': '/uicia399gyMGE1smatJ41M0CtFx.jpg',
   'genre_ids': [16, 28, 12, 14],
   'id': 505262,
   'original_language': 'ja',
   'original_title': '僕のヒーローアカデミア THE MOVIE ～2人の英雄～',
   'overview': "All Might and Deku accept an invitation to go abroad to a floating and mobile manmade city, called 'I-Island', where they research quirks as well as hero supplemental items at the special 'I-Expo' convention that is currently being held on the island. During that time, suddenly, despite an iron wall of security surrounding the island, the system is breached by a villain, and the only ones able to stop him are the students of Class 1-A.",
   'popularity': 209.908,
   'poster_path': '/hC4nTxdhXqFWzgqynGvvXVMiMNp.jpg',
   'release_date': '2018-08-03',
   'title': 'My Hero Academia: Two Heroes',
   'video': False,
   'vote_average': 8.1,
   'vote_count': 655},
  {'adult': False,
   'backdrop_path': '/4GlSMUpzSd3cliYGFJVziSDX53S.jpg',
   'genre_ids': [12, 14],
   'id': 671,
   'original_language': 'en',
   'original_title': "Harry Potter and the Philosopher's Stone",
   'overview': "Harry Potter has lived under the stairs at his aunt and uncle's house his whole life. But on his 11th birthday, he learns he's a powerful wizard -- with a place waiting for him at the Hogwarts School of Witchcraft and Wizardry. As he learns to harness his newfound powers with the help of the school's kindly headmaster, Harry uncovers the truth about his parents' deaths -- and about the villain who's to blame.",
   'popularity': 208.272,
   'poster_path': '/wuMc08IPKEatf9rnMNXvIDxqP4W.jpg',
   'release_date': '2001-11-16',
   'title': "Harry Potter and the Philosopher's Stone",
   'video': False,
   'vote_average': 7.9,
   'vote_count': 20864},
  {'adult': False,
   'backdrop_path': '/roYyPiQDQKmIKUEhO912693tSja.jpg',
   'genre_ids': [27, 18, 878],
   'id': 447332,
   'original_language': 'en',
   'original_title': 'A Quiet Place',
   'overview': 'A family is forced to live in silence while hiding from creatures that hunt by sound.',
   'popularity': 189.178,
   'poster_path': '/nAU74GmpUk7t5iklEp3bufwDq4n.jpg',
   'release_date': '2018-04-03',
   'title': 'A Quiet Place',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 10582},
  {'adult': False,
   'backdrop_path': '/3s9O5af2xWKWR5JzP2iJZpZeQQg.jpg',
   'genre_ids': [28, 12, 878],
   'id': 351286,
   'original_language': 'en',
   'original_title': 'Jurassic World: Fallen Kingdom',
   'overview': 'Three years after the demise of Jurassic World, a volcanic eruption threatens the remaining dinosaurs on Isla Nublar. So, Claire Dearing recruits Owen Grady to help prevent the extinction of the dinosaurs once again.',
   'popularity': 169.779,
   'poster_path': '/c9XxwwhPHdaImA2f1WEfEsbhaFB.jpg',
   'release_date': '2018-06-06',
   'title': 'Jurassic World: Fallen Kingdom',
   'video': False,
   'vote_average': 6.6,
   'vote_count': 9114},
  {'adult': False,
   'backdrop_path': '/rH79sB6Nkx4cMW3JzsUy7wK0rhX.jpg',
   'genre_ids': [28, 878, 27],
   'id': 345940,
   'original_language': 'en',
   'original_title': 'The Meg',
   'overview': 'A deep sea submersible pilot revisits his past fears in the Mariana Trench, and accidentally unleashes the seventy foot ancestor of the Great White Shark believed to be extinct.',
   'popularity': 158.501,
   'poster_path': '/xqECHNvzbDL5I3iiOVUkVPJMSbc.jpg',
   'release_date': '2018-08-09',
   'title': 'The Meg',
   'video': False,
   'vote_average': 6.2,
   'vote_count': 5377},
  {'adult': False,
   'backdrop_path': '/AlFqBwJnokrp9zWTXOUv7uhkaeq.jpg',
   'genre_ids': [28, 12, 878],
   'id': 284054,
   'original_language': 'en',
   'original_title': 'Black Panther',
   'overview': "King T'Challa returns home to the reclusive, technologically advanced African nation of Wakanda to serve as his country's new leader. However, T'Challa soon finds that he is challenged for the throne by factions within his own country as well as without. Using powers reserved to Wakandan kings, T'Challa assumes the Black Panther mantle to join with ex-girlfriend Nakia, the queen-mother, his princess-kid sister, members of the Dora Milaje (the Wakandan 'special forces') and an American secret agent, to prevent Wakanda from being dragged into a world war.",
   'popularity': 156.01,
   'poster_path': '/uxzzxijgPIY7slzFvMotPv8wjKA.jpg',
   'release_date': '2018-02-13',
   'title': 'Black Panther',
   'video': False,
   'vote_average': 7.4,
   'vote_count': 17772},
  {'adult': False,
   'backdrop_path': '/kaIfm5ryEOwYg8mLbq8HkPuM1Fo.jpg',
   'genre_ids': [28, 12, 35, 14, 878],
   'id': 284053,
   'original_language': 'en',
   'original_title': 'Thor: Ragnarok',
   'overview': 'Thor is imprisoned on the other side of the universe and finds himself in a race against time to get back to Asgard to stop Ragnarok, the destruction of his home-world and the end of Asgardian civilization, at the hands of a powerful new threat, the ruthless Hela.',
   'popularity': 154.689,
   'poster_path': '/rzRwTcFvttcN1ZpX2xv4j3tSdJu.jpg',
   'release_date': '2017-10-25',
   'title': 'Thor: Ragnarok',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 16344},
  {'adult': False,
   'backdrop_path': '/l5yp73psXVRYy2ce09lD8yDuu2g.jpg',
   'genre_ids': [27, 53],
   'id': 138843,
   'original_language': 'en',
   'original_title': 'The Conjuring',
   'overview': 'Paranormal investigators Ed and Lorraine Warren work to help a family terrorized by a dark presence in their farmhouse. Forced to confront a powerful entity, the Warrens find themselves caught in the most terrifying case of their lives.',
   'popularity': 148.883,
   'poster_path': '/wVYREutTvI2tmxr6ujrHT704wGF.jpg',
   'release_date': '2013-03-20',
   'title': 'The Conjuring',
   'video': False,
   'vote_average': 7.5,
   'vote_count': 8614},
  {'adult': False,
   'backdrop_path': '/yQIBS8B9l2qXoPoPtxSXvH7CfoT.jpg',
   'genre_ids': [18, 36, 10752],
   'id': 324786,
   'original_language': 'en',
   'original_title': 'Hacksaw Ridge',
   'overview': 'WWII American Army Medic Desmond T. Doss, who served during the Battle of Okinawa, refuses to kill people and becomes the first Conscientious Objector in American history to receive the Congressional Medal of Honor.',
   'popularity': 148.85,
   'poster_path': '/fTuxNlgEm04PPFkr1xfK94Jn8BW.jpg',
   'release_date': '2016-10-07',
   'title': 'Hacksaw Ridge',
   'video': False,
   'vote_average': 8.2,
   'vote_count': 9896},
  {'adult': False,
   'backdrop_path': '/itiz2OBK4ns6XT0ufXtusojmMt9.jpg',
   'genre_ids': [10749, 35],
   'id': 454983,
   'original_language': 'en',
   'original_title': 'The Kissing Booth',
   'overview': "When teenager Elle's first kiss leads to a forbidden romance with the hottest boy in high school, she risks her relationship with her best friend.",
   'popularity': 146.054,
   'poster_path': '/7Dktk2ST6aL8h9Oe5rpk903VLhx.jpg',
   'release_date': '2018-05-11',
   'title': 'The Kissing Booth',
   'video': False,
   'vote_average': 7.3,
   'vote_count': 6143},
  {'adult': False,
   'backdrop_path': '/m03jul0YdVEOFXEQVUv6pOVQYGL.jpg',
   'genre_ids': [10751, 14, 35, 16],
   'id': 400155,
   'original_language': 'en',
   'original_title': 'Hotel Transylvania 3: Summer Vacation',
   'overview': 'Dracula, Mavis, Johnny and the rest of the Drac Pack take a vacation on a luxury Monster Cruise Ship, where Dracula falls in love with the ship’s captain, Ericka, who’s secretly a descendant of Abraham Van Helsing, the notorious monster slayer.',
   'popularity': 142.735,
   'poster_path': '/o7RY5zNHdH2heGS1hET2Rt6hZOe.jpg',
   'release_date': '2018-06-28',
   'title': 'Hotel Transylvania 3: Summer Vacation',
   'video': False,
   'vote_average': 6.9,
   'vote_count': 3239},
  {'adult': False,
   'backdrop_path': '/q7fXcrDPJcf6t3rzutaNwTzuKP1.jpg',
   'genre_ids': [878, 12, 28],
   'id': 333339,
   'original_language': 'en',
   'original_title': 'Ready Player One',
   'overview': 'When the creator of a popular video game system dies, a virtual contest is created to compete for his fortune.',
   'popularity': 138.543,
   'poster_path': '/pU1ULUq8D3iRxl1fdX2lZIzdHuI.jpg',
   'release_date': '2018-03-28',
   'title': 'Ready Player One',
   'video': False,
   'vote_average': 7.6,
   'vote_count': 11800},
  {'adult': False,
   'backdrop_path': '/9ywA15OAiwjSTvg3cBs9B7kOCBF.jpg',
   'genre_ids': [18, 10749],
   'id': 337167,
   'original_language': 'en',
   'original_title': 'Fifty Shades Freed',
   'overview': 'Believing they have left behind shadowy figures from their past, newlyweds Christian and Ana fully embrace an inextricable connection and shared life of luxury. But just as she steps into her role as Mrs. Grey and he relaxes into an unfamiliar stability, new threats could jeopardize their happy ending before it even begins.',
   'popularity': 135.659,
   'poster_path': '/9ZedQHPQVveaIYmDSTazhT3y273.jpg',
   'release_date': '2018-01-17',
   'title': 'Fifty Shades Freed',
   'video': False,
   'vote_average': 6.7,
   'vote_count': 6418},
  {'adult': False,
   'backdrop_path': '/wXsQvli6tWqja51pYxXNG1LFIGV.jpg',
   'genre_ids': [10751, 16, 18],
   'id': 8587,
   'original_language': 'en',
   'original_title': 'The Lion King',
   'overview': 'A young lion prince is cast out of his pride by his cruel uncle, who claims he killed his father. While the uncle rules with an iron paw, the prince grows up beyond the Savannah, living by a philosophy: No worries for the rest of your days. But when his past comes to haunt him, the young prince must decide his fate: Will he remain an outcast or face his demons and become what he needs to be?',
   'popularity': 133.125,
   'poster_path': '/sKCr78MXSLixwmZ8DyJLrpMsd15.jpg',
   'release_date': '1994-06-23',
   'title': 'The Lion King',
   'video': False,
   'vote_average': 8.3,
   'vote_count': 14324},
  {'adult': False,
   'backdrop_path': '/f4E0ocYeToEuXvczZv6QArrMDJ.jpg',
   'genre_ids': [878, 28, 12, 35],
   'id': 346910,
   'original_language': 'en',
   'original_title': 'The Predator',
   'overview': 'When a young child accidentally triggers extraterrestrial hunters to return to Earth, a ragtag crew of ex-soldiers and scientists join forces to prevent the end of the human race.',
   'popularity': 132.599,
   'poster_path': '/wMq9kQXTeQCHUZOG4fAe5cAxyUA.jpg',
   'release_date': '2018-09-05',
   'title': 'The Predator',
   'video': False,
   'vote_average': 5.6,
   'vote_count': 3446},
  {'adult': False,
   'backdrop_path': '/dIWwZW7dJJtqC6CgWzYkNVKIUm8.jpg',
   'genre_ids': [10749, 16, 18],
   'id': 372058,
   'original_language': 'ja',
   'original_title': '君の名は。',
   'overview': 'High schoolers Mitsuha and Taki are complete strangers living separate lives. But one night, they suddenly switch places. Mitsuha wakes up in Taki’s body, and he in hers. This bizarre occurrence continues to happen randomly, and the two must adjust their lives around each other.',
   'popularity': 129.705,
   'poster_path': '/q719jXXEzOoYaps6babgKnONONX.jpg',
   'release_date': '2016-08-26',
   'title': 'Your Name.',
   'video': False,
   'vote_average': 8.6,
   'vote_count': 7783}],
 'total_pages': 500,
 'total_results': 10000}

In [7]:
df = pd.read_csv('movies_combined_tmdb_id_for_api.csv')
df

,tmdb_id,tconst,primary_title,original_title,movie,runtime_minutes,genres,genre_ids,averagerating,numvotes,release_date_x,release_date_y,vote_average,vote_count,popularity,domestic_gross,production_budget,worldwide_gross
0,116977,tt0249516,Foodfight!,Foodfight!,Foodfight!,91.0,"Action,Animation,Comedy","[16, 28, 35, 10751]",1.9,8248,2012-12-31,2013-05-07,2.1,46,4.705,0,45000000,73706
1,308024,tt0326592,The Overnight,The Overnight,The Overnight,88.0,MISSING,"[9648, 35]",7.5,24,2015-06-19,2015-06-19,6.0,200,6.576,1109808,200000,1165996
2,308024,tt3844362,The Overnight,The Overnight,The Overnight,79.0,"Comedy,Mystery","[9648, 35]",6.1,14828,2015-06-19,2015-06-19,6.0,200,6.576,1109808,200000,1165996
3,83770,tt0337692,On the Road,On the Road,On the Road,124.0,"Adventure,Drama,Romance","[12, 18]",6.1,37886,2013-03-22,2012-12-21,5.6,518,8.919,720828,25000000,9313302
4,83770,tt4339118,On the Road,On the Road,On the Road,89.0,Drama,"[12, 18]",6.0,6,2013-03-22,2012-12-21,5.6,518,8.919,720828,25000000,9313302
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1862,547590,tt7374952,El Chicano,El Chicano,El Chicano,108.0,Drama,"[18, 28, 80]",5.7,290,2019-05-03,2019-05-03,9.0,1,5.274,700261,8000000,700261
1863,476968,tt7388562,"Paul, Apostle of Christ","Paul, Apostle of Christ","Paul, Apostle of Christ",108.0,"Adventure,Biography,Drama",[36],6.7,5662,2018-03-23,2018-03-28,7.1,98,12.005,17547999,5000000,25529498
1864,491418,tt7401588,Instant Family,Instant Family,Instant Family,118.0,"Comedy,Drama","[35, 18]",7.4,46728,2018-11-16,2018-11-16,7.6,782,22.634,67363237,48000000,119736188
1865,493922,tt7784604,Hereditary,Hereditary,Hereditary,127.0,"Drama,Horror,Mystery","[27, 9648, 53]",7.3,151571,2018-06-08,2018-06-08,7.0,2491,26.185,44069456,10000000,70133905
1866,532908,tt8632862,Fahrenheit 11/9,Fahrenheit 11/9,Fahrenheit 11/9,128.0,Documentary,[99],6.7,11628,2018-09-21,2018-09-10,7.1,142,10.003,6352306,5000000,6653715

In [8]:
import os,glob
dftm = pd.read_csv('zippedData/tmdb.movies.csv.gz',index_col=0)

dftm = dftm.loc[dftm['original_language']=='en']
dftm['release_date'] = pd.to_datetime(dftm['release_date'])
dftm

,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186
...,...,...,...,...,...,...,...,...,...
26512,"[27, 18]",488143,en,Laboratory Conditions,0.600,2018-10-13,Laboratory Conditions,0.0,1
26513,"[18, 53]",485975,en,_EXHIBIT_84xxx_,0.600,2018-05-01,_EXHIBIT_84xxx_,0.0,1
26514,"[14, 28, 12]",381231,en,The Last One,0.600,2018-10-01,The Last One,0.0,1
26515,"[10751, 12, 28]",366854,en,Trailer Made,0.600,2018-06-22,Trailer Made,0.0,1
26516,"[53, 27]",309885,en,The Church,0.600,2018-10-05,The Church,0.0,1

In [9]:
dftm = dftm.set_index('release_date').sort_index()#.index
dftm = dftm.loc['2010':]
dftm

,genre_ids,id,original_language,original_title,popularity,title,vote_average,vote_count
release_date,,,,,,,,
2010-01-01,[],433335,en,Servants of Mercy,0.624,Servants of Mercy,8.0,1
2010-01-01,"[28, 878]",100689,en,Swine,0.624,Swine,6.0,1
2010-01-01,[35],59982,en,Meeting Spencer,0.624,Meeting Spencer,6.0,1
2010-01-01,[],141991,en,My Eyes Won't Dry 3 - Tubular Addiction,0.600,My Eyes Won't Dry 3 - Tubular Addiction,8.5,1
2010-01-01,[35],144907,en,Tetherball: The Movie,0.624,Tetherball: The Movie,5.0,1
...,...,...,...,...,...,...,...,...
2019-05-17,[18],481880,en,Trial by Fire,4.480,Trial by Fire,7.0,3
2019-05-17,"[18, 9648, 53]",411144,en,We Have Always Lived in the Castle,14.028,We Have Always Lived in the Castle,5.2,24
2019-06-28,[99],541577,en,This Changes Everything,3.955,This Changes Everything,0.0,1
2019-06-28,"[10749, 18]",428836,en,Ophelia,8.715,Ophelia,0.0,4
2020-12-25,"[27, 80, 80, 80, 80, 80, 80]",570704,en,Murdery Christmas,0.840,Murdery Christmas,0.0,1

### API Authentification
- Two options
    - Api Key ( v3)
    - Bearer Token (v4 - better?)

In [10]:
base_url = f"https://api.themoviedb.org/3/movie/76341?api_key={api_key}"
# base_url

In [11]:
import requests
## get session id
def get_session_id():
    token_url = f"https://api.themoviedb.org/3/authentication/token/new?api_key={api_key}"
    response = requests.get(token_url)
    display(response)
    return response.json()

In [12]:
sid = get_session_id()
sid.keys()

dict_keys(['success', 'expires_at', 'request_token'])

In [13]:
sid_token = sid['request_token'];

In [14]:
#?f"Authorization: Bearer {access_token}"

# def get_bearer_token(sid=None):
#     """https://developers.themoviedb.org/3/authentication/how-do-i-generate-a-session-id
#     1. Create a new 
#     2. Get the user to authorize the request token
#     3. Create a new  with the athorized request token"""
#     if sid is None:
#         sid = get_session_id()
        
#     if isinstance(sid,dict):
#         token = sid['request_token']
#     elif isintance(sid,str):
#         token = sid
        
#     header = f"Authorization: Bearer {token}"
#     requests.get(url = , headers=header )
        
# auth_url - f"https://www.themoviedb.org/authenticate/{REQUEST_TOKEN}"

In [15]:
ratings

NameError: name 'ratings' is not defined

df['tmdb_id']

### Make DF

In [16]:
DF = pd.merge(df,dftm,left_on='tmdb_id',right_on='id',how='inner')
DF

,tmdb_id,tconst,primary_title,original_title_x,movie,runtime_minutes,genres,genre_ids_x,averagerating,numvotes,...,production_budget,worldwide_gross,genre_ids_y,id,original_language,original_title_y,popularity_y,title,vote_average_y,vote_count_y
0,116977,tt0249516,Foodfight!,Foodfight!,Foodfight!,91.0,"Action,Animation,Comedy","[16, 28, 35, 10751]",1.9,8248,...,45000000,73706,"[16, 28, 35, 10751]",116977,en,Foodfight!,4.705,Foodfight!,2.1,46
1,308024,tt0326592,The Overnight,The Overnight,The Overnight,88.0,MISSING,"[9648, 35]",7.5,24,...,200000,1165996,"[9648, 35]",308024,en,The Overnight,6.576,The Overnight,6.0,200
2,308024,tt3844362,The Overnight,The Overnight,The Overnight,79.0,"Comedy,Mystery","[9648, 35]",6.1,14828,...,200000,1165996,"[9648, 35]",308024,en,The Overnight,6.576,The Overnight,6.0,200
3,83770,tt0337692,On the Road,On the Road,On the Road,124.0,"Adventure,Drama,Romance","[12, 18]",6.1,37886,...,25000000,9313302,"[12, 18]",83770,en,On the Road,8.919,On the Road,5.6,518
4,83770,tt4339118,On the Road,On the Road,On the Road,89.0,Drama,"[12, 18]",6.0,6,...,25000000,9313302,"[12, 18]",83770,en,On the Road,8.919,On the Road,5.6,518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2030,547590,tt7374952,El Chicano,El Chicano,El Chicano,108.0,Drama,"[18, 28, 80]",5.7,290,...,8000000,700261,"[18, 28, 80]",547590,en,El Chicano,5.274,El Chicano,9.0,1
2031,476968,tt7388562,"Paul, Apostle of Christ","Paul, Apostle of Christ","Paul, Apostle of Christ",108.0,"Adventure,Biography,Drama",[36],6.7,5662,...,5000000,25529498,[36],476968,en,"Paul, Apostle of Christ",12.005,"Paul, Apostle of Christ",7.1,98
2032,491418,tt7401588,Instant Family,Instant Family,Instant Family,118.0,"Comedy,Drama","[35, 18]",7.4,46728,...,48000000,119736188,"[35, 18]",491418,en,Instant Family,22.634,Instant Family,7.6,782
2033,493922,tt7784604,Hereditary,Hereditary,Hereditary,127.0,"Drama,Horror,Mystery","[27, 9648, 53]",7.3,151571,...,10000000,70133905,"[27, 9648, 53]",493922,en,Hereditary,26.185,Hereditary,7.0,2491
2034,532908,tt8632862,Fahrenheit 11/9,Fahrenheit 11/9,Fahrenheit 11/9,128.0,Documentary,[99],6.7,11628,...,5000000,6653715,[99],532908,en,Fahrenheit 11/9,10.003,Fahrenheit 11/9,7.1,142

In [17]:
DF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2035 entries, 0 to 2034
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   tmdb_id            2035 non-null   int64
 1   tconst             2035 non-null   object
 2   primary_title      2035 non-null   object
 3   original_title_x   2035 non-null   object
 4   movie              2035 non-null   object
 5   runtime_minutes    2035 non-null   float64
 6   genres             2035 non-null   object
 7   genre_ids_x        2035 non-null   object
 8   averagerating      2035 non-null   float64
 9   numvotes           2035 non-null   int64
 10  release_date_x     2035 non-null   object
 11  release_date_y     2035 non-null   object
 12  vote_average_x     2035 non-null   float64
 13  vote_count_x       2035 non-null   int64
 14  popularity_x       2035 non-null   float64
 15  domestic_gross     2035 non-null   int64
 16  production_budget  2035 non-null   int64
 17  worldwide_gross    2035 non-null   int64
 18  genre_ids_y        2035 non-null   object
 19  id                 2035 non-null   int64
 20  original_language  2035 non-null   object
 21  original_title_y   2035 non-null   object
 22  popularity_y       2035 non-null   float64
 23  title              2035 non-null   object
 24  vote_average_y     2035 non-null   float64
 25  vote_count_y       2035 non-null   int64
dtypes: float64(6), int64(8), object(12)
memory usage: 429.3+ KB

In [18]:
dftm['id']

release_date
2010-01-01    433335
2010-01-01    100689
2010-01-01     59982
2010-01-01    141991
2010-01-01    144907
               ...
2019-05-17    481880
2019-05-17    411144
2019-06-28    541577
2019-06-28    428836
2020-12-25    570704
Name: id, Length: 23106, dtype: int64

In [19]:
movie_id = dftm['id'][0]
print(dftm.iloc[0])
print(movie_id)

genre_ids                           []
id                              433335
original_language                   en
original_title       Servants of Mercy
popularity                       0.624
title                Servants of Mercy
vote_average                         8
vote_count                           1
Name: 2010-01-01 00:00:00, dtype: object
433335

In [20]:
movie_id = DF['tmdb_id'][0]
movie_id

116977

In [21]:
movie_url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}&language=en-US"
movie_url

'https://api.themoviedb.org/3/movie/116977?api_key=e9a24ea6085f06fdd272dab49ad70c2e&language=en-US'

In [22]:
response = requests.get(movie_url)
response

In [23]:
response.json().keys()

dict_keys(['adult', 'backdrop_path', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id', 'imdb_id', 'original_language', 'original_title', 'overview', 'popularity', 'poster_path', 'production_companies', 'production_countries', 'release_date', 'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title', 'video', 'vote_average', 'vote_count'])

In [24]:
test_ids = DF['tmdb_id'].iloc[:4]
test_ids

0    116977
1    308024
2    308024
3     83770
Name: tmdb_id, dtype: int64

In [25]:
DF.head()

,tmdb_id,tconst,primary_title,original_title_x,movie,runtime_minutes,genres,genre_ids_x,averagerating,numvotes,...,production_budget,worldwide_gross,genre_ids_y,id,original_language,original_title_y,popularity_y,title,vote_average_y,vote_count_y
0,116977,tt0249516,Foodfight!,Foodfight!,Foodfight!,91.0,"Action,Animation,Comedy","[16, 28, 35, 10751]",1.9,8248,...,45000000,73706,"[16, 28, 35, 10751]",116977,en,Foodfight!,4.705,Foodfight!,2.1,46
1,308024,tt0326592,The Overnight,The Overnight,The Overnight,88.0,MISSING,"[9648, 35]",7.5,24,...,200000,1165996,"[9648, 35]",308024,en,The Overnight,6.576,The Overnight,6.0,200
2,308024,tt3844362,The Overnight,The Overnight,The Overnight,79.0,"Comedy,Mystery","[9648, 35]",6.1,14828,...,200000,1165996,"[9648, 35]",308024,en,The Overnight,6.576,The Overnight,6.0,200
3,83770,tt0337692,On the Road,On the Road,On the Road,124.0,"Adventure,Drama,Romance","[12, 18]",6.1,37886,...,25000000,9313302,"[12, 18]",83770,en,On the Road,8.919,On the Road,5.6,518
4,83770,tt4339118,On the Road,On the Road,On the Road,89.0,Drama,"[12, 18]",6.0,6,...,25000000,9313302,"[12, 18]",83770,en,On the Road,8.919,On the Road,5.6,518

In [26]:
movie_id = test_ids[0]
movie_url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}&language=en-US"
response = requests.get(movie_url)

In [27]:
response.json()

{'adult': False,
 'backdrop_path': '/w5XEKGEGG2AXp7tiXjcsEuxn7i5.jpg',
 'belongs_to_collection': None,
 'budget': 65000000,
 'genres': [{'id': 16, 'name': 'Animation'},
  {'id': 28, 'name': 'Action'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 10751, 'name': 'Family'}],
 'homepage': 'http://www.thresholdanimationstudios.com/video.php?id=foodfight',
 'id': 116977,
 'imdb_id': 'tt0249516',
 'original_language': 'en',
 'original_title': 'Foodfight!',
 'overview': 'The evil Brand X joins a supermarket that becomes a city after closing time.',
 'popularity': 8.324,
 'poster_path': '/R1zn75Yz4wpdd85byqhP7mT6No.jpg',
 'production_companies': [{'id': 4174,
   'logo_path': None,
   'name': 'Threshold Entertainment',
   'origin_country': ''},
  {'id': 1632,
   'logo_path': '/cisLn1YAUuptXVBa0xjq7ST9cH0.png',
   'name': 'Lionsgate',
   'origin_country': 'US'},
  {'id': 133802,
   'logo_path': None,
   'name': 'C47 Productions',
   'origin_country': ''},
  {'id': 133803,
   'logo_path': None,
   'name': 'Natural Image',
   'origin_country': ''},
  {'id': 133804,
   'logo_path': None,
   'name': 'StoryArk Media',
   'origin_country': ''}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-06-15',
 'revenue': 73706,
 'runtime': 87,
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
 'status': 'Released',
 'tagline': '',
 'title': 'Foodfight!',
 'video': False,
 'vote_average': 1.7,
 'vote_count': 79}

In [28]:
def get_movie_data(movie_id):
    """Returns specific keys of interest by tmbd movie_id"""
    movie_url = f"https://api.themoviedb.org/3/movie/{movie_id}?api_key={api_key}&language=en-US"
    response = requests.get(movie_url)

    keys_of_interest = ['id','imdb_id','title','budget','release_date',
                        'revenue','runtime', 'original_language',
                        'original_title', ('spoken_languages','name'),
                        'vote_average','vote_count', 
                        'genres','poster_path','production_companies']
    data ={}
    for key in keys_of_interest:
        
        if isinstance(key,tuple):
            key=key[0]
            subkey = key[1]
            
            val = response.json()[key]

        else:
            val = response.json()[key]
        data[key] = val
    return data

In [29]:
get_movie_data(test_ids[0])

{'id': 116977,
 'imdb_id': 'tt0249516',
 'title': 'Foodfight!',
 'budget': 65000000,
 'release_date': '2012-06-15',
 'revenue': 73706,
 'runtime': 87,
 'original_language': 'en',
 'original_title': 'Foodfight!',
 'spoken_languages': [{'iso_639_1': 'en', 'name': 'English'}],
 'vote_average': 1.7,
 'vote_count': 79,
 'genres': [{'id': 16, 'name': 'Animation'},
  {'id': 28, 'name': 'Action'},
  {'id': 35, 'name': 'Comedy'},
  {'id': 10751, 'name': 'Family'}],
 'poster_path': '/R1zn75Yz4wpdd85byqhP7mT6No.jpg',
 'production_companies': [{'id': 4174,
   'logo_path': None,
   'name': 'Threshold Entertainment',
   'origin_country': ''},
  {'id': 1632,
   'logo_path': '/cisLn1YAUuptXVBa0xjq7ST9cH0.png',
   'name': 'Lionsgate',
   'origin_country': 'US'},
  {'id': 133802,
   'logo_path': None,
   'name': 'C47 Productions',
   'origin_country': ''},
  {'id': 133803,
   'logo_path': None,
   'name': 'Natural Image',
   'origin_country': ''},
  {'id': 133804,
   'logo_path': None,
   'name': 'StoryArk Media',
   'origin_country': ''}]}

## [BOOKMARK] Rated Movies
- **https://www.themoviedb.org/talk/57f7aa18925141763600106e?language=en-US**
- 
https://developers.themoviedb.org/3/movies/get-movie-details

In [30]:
import numpy as np

## Get records for test_ids
import time 
sleep_times = np.linspace(0.5,1.2,5)
sleep_times

array([0.5  , 0.675, 0.85 , 1.025, 1.2  ])

In [31]:
DF['tmdb_id']

0       116977
1       308024
2       308024
3        83770
4        83770
         ...
2030    547590
2031    476968
2032    491418
2033    493922
2034    532908
Name: tmdb_id, Length: 2035, dtype: int64

In [32]:
from tqdm import trange,tqdm
# tqdm()

In [33]:
indices = range(0,len(dftm['id']))
indices

range(0, 23106)

## Extraction Loop

In [34]:
## Extracting IDs
really_run_it = input('Are you SURE you want to run this? It took 35 mins')

if really_run_it:
    records = []

    for i in trange(len(DF['id'])):
        id_ = DF['id'][i]
        time.sleep(np.random.choice(sleep_times))

        try:
            records.append(get_movie_data(id_))
        except:
            print(f"Error retrieving {id_}")
            
        if i%500==0:
            try:
                results = pd.DataFrame.from_records(records)
                results.to_csv(f"tmdb_extract_{i}_of_{len(DF['id'])}.csv")
            except:
                print(f'ERROR SAVING OUTPUT ON ID#{i}')
    full_results = pd.DataFrame.from_records(records)
    full_results.to_csv('full_extract_tmdb.csv')

Are you SURE you want to run this? It took 35 mins

# BOOKMARK 06/03

In [35]:
full_results = pd.DataFrame.from_records(records)
# full_results.to_csv('example_extract_tmdb.csv')
full_results

NameError: name 'records' is not defined

In [ ]:
full_results

In [ ]:
def unnest_cell(cell,key):
    output=[]
    for item in cell:
        output.append(item[key])
    return output

In [ ]:
results=full_results.copy()
cols_to_explode={'genres':['id','name'],
                'spoken_languages':['name'],
                'production_companies':['id','name','origin_country']}

for col,keys in cols_to_explode.items():
    for key in keys:
        results[col+'_'+key] = results[col].apply(lambda x: unnest_cell(x,key))
    results.drop(col,axis=1,inplace=True)
results

In [ ]:
results.to_csv('api_results_060320.csv',index=False)

In [ ]:
# i=1260
# results.to_csv(f"tmdb_extract_{i}_of_{len(dftm['id'])}.csv")

In [ ]:
# results.to_csv('cleaned_results_example.csv')

In [ ]:
results

In [ ]:
results.info()

In [ ]:
results['production_companies'][0]

# [i/o] BOOKMARK 0603-Ratings

In [15]:
df= pd.read_csv('api_results_060320.csv')

df.head()

,id,imdb_id,title,budget,release_date,revenue,runtime,original_language,original_title,vote_average,vote_count,poster_path,genres_id,genres_name,spoken_languages_name,production_companies_id,production_companies_name,production_companies_origin_country
0,116977,tt0249516,Foodfight!,65000000,2012-06-15,73706,87.0,en,Foodfight!,1.7,76,/R1zn75Yz4wpdd85byqhP7mT6No.jpg,"[16, 28, 35, 10751]","['Animation', 'Action', 'Comedy', 'Family']",['English'],"[4174, 1632, 133802, 133803, 133804]","['Threshold Entertainment', 'Lionsgate', 'C47 ...","['', 'US', '', '', '']"
1,308024,tt3844362,The Overnight,0,2015-06-19,1100000,80.0,en,The Overnight,6.0,222,/65L466UR3h1jw8mTJhGmMZlj0eT.jpg,"[9648, 35]","['Mystery', 'Comedy']","['English', 'Français']","[1974, 63631]","['Duplass Brothers Productions', ""Gettin' Rad ...","['US', '']"
2,308024,tt3844362,The Overnight,0,2015-06-19,1100000,80.0,en,The Overnight,6.0,222,/65L466UR3h1jw8mTJhGmMZlj0eT.jpg,"[9648, 35]","['Mystery', 'Comedy']","['English', 'Français']","[1974, 63631]","['Duplass Brothers Productions', ""Gettin' Rad ...","['US', '']"
3,83770,tt0337692,On the Road,25000000,2012-05-22,8784318,137.0,en,On the Road,5.6,600,/k7LQteD02p3VHixbS6NXHkFdFwT.jpg,"[12, 18]","['Adventure', 'Drama']","['English', 'Français']","[8372, 70, 79077, 614, 83, 10611, 346, 21914, ...","['SPAD Films', 'American Zoetrope', 'Jerry Lei...","['', 'US', '', '', 'FR', 'FR', 'BR', 'AR', 'CA..."
4,83770,tt0337692,On the Road,25000000,2012-05-22,8784318,137.0,en,On the Road,5.6,600,/k7LQteD02p3VHixbS6NXHkFdFwT.jpg,"[12, 18]","['Adventure', 'Drama']","['English', 'Français']","[8372, 70, 79077, 614, 83, 10611, 346, 21914, ...","['SPAD Films', 'American Zoetrope', 'Jerry Lei...","['', 'US', '', '', 'FR', 'FR', 'BR', 'AR', 'CA..."

In [16]:
movie_id = df['id'][0]

def get_release_date_ratings(movie_id,as_json=True):
    request_url = f"https://api.themoviedb.org/3/movie/{movie_id}/release_dates?api_key={api_key}"
    response =requests.get(request_url)
    
    if as_json:
        response = response.json()
    return response

In [17]:
response = get_release_date_ratings(movie_id)
print(response.keys())
response['results']

dict_keys(['id', 'results'])

[{'iso_3166_1': 'US',
  'release_dates': [{'certification': 'PG',
    'iso_639_1': '',
    'note': '',
    'release_date': '2013-05-07T00:00:00.000Z',
    'type': 3}]},
 {'iso_3166_1': 'GB',
  'release_dates': [{'certification': 'PG',
    'iso_639_1': '',
    'note': '',
    'release_date': '2012-06-15T00:00:00.000Z',
    'type': 3}]}]

In [20]:
response['results'][1]['iso_3166_1']

'GB'

In [21]:
pd.DataFrame.from_records(response['results'])

  iso_3166_1                                      release_dates
0         US  [{'certification': 'PG', 'iso_639_1': '', 'not...
1         GB  [{'certification': 'PG', 'iso_639_1': '', 'not...

In [22]:
pd.DataFrame.from_dict(response['results'])

  iso_3166_1                                      release_dates
0         US  [{'certification': 'PG', 'iso_639_1': '', 'not...
1         GB  [{'certification': 'PG', 'iso_639_1': '', 'not...

## Using `tmdbsimple` package

In [10]:
# !pip install tmdbsimple
import tmdbsimple as tmdb
tmdb.API_KEY = api_key

ModuleNotFoundError: No module named 'tmdbsimple'

In [40]:
movie = tmdb.Movies(movie_id)
help(movie)
dict(movie)

Help on Movies in module tmdbsimple.movies object:

class Movies(tmdbsimple.base.TMDB)
 |  Movies functionality.
 |
 |  See: https://developers.themoviedb.org/3/movies
 |
 |  Method resolution order:
 |      Movies
 |      tmdbsimple.base.TMDB
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __init__(self, id=0)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  account_states(self, **kwargs)
 |      This method lets users get the status of whether or not the movie has
 |      been rated or added to their favourite or watch lists. A valid session
 |      id is required.
 |
 |      Args:
 |          session_id: see Authentication.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  alternative_titles(self, **kwargs)
 |      Get the alternative titles for a specific movie id.
 |
 |      Args:
 |          country: (optional) ISO 3166-1 code.
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  changes(self, **kwargs)
 |      Get the changes for a specific movie id.
 |
 |      Changes are grouped by key, and ordered by date in descending order.
 |      By default, only the last 24 hours of changes are returned. The
 |      maximum number of days that can be returned in a single request is 14.
 |      The language is present on fields that are translatable.
 |
 |      Args:
 |          start_date: (optional) Expected format is 'YYYY-MM-DD'.
 |          end_date: (optional) Expected format is 'YYYY-MM-DD'.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  credits(self, **kwargs)
 |      Get the cast and crew information for a specific movie id.
 |
 |      Args:
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  external_ids(self, **kwargs)
 |      Get the external ids for a specific movie id.
 |
 |      Args:
 |          language: (optional) ISO 639-1 code.
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  images(self, **kwargs)
 |      Get the images (posters and backdrops) for a specific movie id.
 |
 |      Args:
 |          language: (optional) ISO 639-1 code.
 |          append_to_response: (optional) Comma separated, any movie method.
 |          include_image_language: (optional) Comma separated, a valid
 |                                  ISO 69-1.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  info(self, **kwargs)
 |      Get the basic movie information for a specific movie id.
 |
 |      Args:
 |          language: (optional) ISO 639-1 code.
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  keywords(self)
 |      Get the plot keywords for a specific movie id.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  latest(self, **kwargs)
 |      Get the latest movie id.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  lists(self, **kwargs)
 |      Get the lists that the movie belongs to.
 |
 |      Args:
 |          page: (optional) Minimum value of 1.  Expected value is an integer.
 |          language: (optional) ISO 639-1 code.
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  now_playing(self, **kwargs)
 |      Get the list of movies playing in theatres. This list refreshes
 |      every day. The maximum number of items this list will include is 100.
 |
 |      Args:
 |          page: (optional) Minimum value of 1.  Expected value is an integer.
 |          language: (optional) ISO 639-1 code.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  popular(self, **kwargs)
 |      Get the list of popular movies on The Movie Database. This list
 |      refreshes every day.
 |
 |      Args:
 |          page: (optional) Minimum value of 1.  Expected value is an integer.
 |          language: (optional) ISO 639-1 code.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  rating(self, **kwargs)
 |      This method lets users rate a movie. A valid session id or guest
 |      session id is required.
 |
 |      Args:
 |          session_id: see Authentication.
 |          guest_session_id: see Authentication.
 |          value: Rating value.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  recommendations(self, **kwargs)
 |      Get a list of recommended movies for a movie.
 |
 |      Args:
 |          language: (optional) ISO 639-1 code.
 |          page: (optional) Minimum value of 1.  Expected value is an integer.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  release_dates(self, **kwargs)
 |      Get the release dates and certification for a specific movie id.
 |
 |      Args:
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  releases(self, **kwargs)
 |      Get the release date and certification information by country for a
 |      specific movie id.
 |
 |      Args:
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  reviews(self, **kwargs)
 |      Get the reviews for a particular movie id.
 |
 |      Args:
 |          page: (optional) Minimum value of 1.  Expected value is an integer.
 |          language: (optional) ISO 639-1 code.
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  similar_movies(self, **kwargs)
 |      Get the similar movies for a specific movie id.
 |
 |      Args:
 |          page: (optional) Minimum value of 1.  Expected value is an integer.
 |          language: (optional) ISO 639-1 code.
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  top_rated(self, **kwargs)
 |      Get the list of top rated movies. By default, this list will only
 |      include movies that have 10 or more votes. This list refreshes every
 |      day.
 |
 |      Args:
 |          page: (optional) Minimum value of 1.  Expected value is an integer.
 |          language: (optional) ISO 639-1 code.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  translations(self, **kwargs)
 |      Get the translations for a specific movie id.
 |
 |      Args:
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  upcoming(self, **kwargs)
 |      Get the list of upcoming movies. This list refreshes every day.
 |      The maximum number of items this list will include is 100.
 |
 |      Args:
 |          page: (optional) Minimum value of 1.  Expected value is an integer.
 |          language: (optional) ISO 639-1 code.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  videos(self, **kwargs)
 |      Get the videos (trailers, teasers, clips, etc...) for a
 |      specific movie id.
 |
 |      Args:
 |          append_to_response: (optional) Comma separated, any movie method.
 |
 |      Returns:
 |          A dict representation of the JSON returned from the API.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  BASE_PATH = 'movie'
 |
 |  URLS = {'account_states': '/{id}/account_states', 'alternative_titles'...
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from tmdbsimple.base.TMDB:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes inherited from tmdbsimple.base.TMDB:
 |
 |  headers = {'Accept': 'application/json', 'Connection': 'close', 'Conte...

TypeError: 'Movies' object is not iterable

In [38]:
movie.external_ids()

{'id': 116977,
 'imdb_id': 'tt0249516',
 'facebook_id': None,
 'instagram_id': None,
 'twitter_id': None}

In [26]:
ids = df['id']
ids

0       116977
1       308024
2       308024
3        83770
4        83770
         ...
2030    547590
2031    476968
2032    491418
2033    493922
2034    532908
Name: id, Length: 2035, dtype: int64

In [27]:
releases = movie.release_dates()

releases['results']

[{'iso_3166_1': 'US',
  'release_dates': [{'certification': 'PG',
    'iso_639_1': '',
    'note': '',
    'release_date': '2013-05-07T00:00:00.000Z',
    'type': 3}]},
 {'iso_3166_1': 'GB',
  'release_dates': [{'certification': 'PG',
    'iso_639_1': '',
    'note': '',
    'release_date': '2012-06-15T00:00:00.000Z',
    'type': 3}]}]

In [41]:
movie_info = {}
movie_info['id'] = releases['id']

results = releases['results']
results

NameError: name 'releases' is not defined

In [42]:
for r in results:
#     display(r)
    if r['iso_3166_1' ] =='US':
        dates = r['release_dates']
        movie_info['certification'] = [dates[i]['certification'] for i in range(len(dates))]
        movie_info['certification_release_date'] = [dates[i]['release_date'] for i in range(len(dates))]

pd.DataFrame(movie_info)

NameError: name 'results' is not defined

In [30]:
def get_certification_by_id(movie_id,as_df=False):
    ## Get movie and release dates
    movie = tmdb.Movies(movie_id)
    releases = movie.release_dates()

    ## Construct output dict
    movie_info = {}
    movie_info['id'] = releases['id']

    ## Loop through results lists
    results = releases['results']
    
    for r in results:

        if r['iso_3166_1' ] =='US':
            dates = r['release_dates']
            
            date_index = range(len(dates))
            movie_info['certification'] = [dates[i]['certification'] for i in date_index]
            movie_info['certification_release_date'] = [dates[i]['release_date'] for i in date_index]
    if as_df:
        return pd.DataFrame(movie_info)
    else:
        return movie_info

In [31]:
df= pd.read_csv('api_results_060320.csv')
df

,id,imdb_id,title,budget,release_date,revenue,runtime,original_language,original_title,vote_average,vote_count,poster_path,genres_id,genres_name,spoken_languages_name,production_companies_id,production_companies_name,production_companies_origin_country
0,116977,tt0249516,Foodfight!,65000000,2012-06-15,73706,87.0,en,Foodfight!,1.7,76,/R1zn75Yz4wpdd85byqhP7mT6No.jpg,"[16, 28, 35, 10751]","['Animation', 'Action', 'Comedy', 'Family']",['English'],"[4174, 1632, 133802, 133803, 133804]","['Threshold Entertainment', 'Lionsgate', 'C47 ...","['', 'US', '', '', '']"
1,308024,tt3844362,The Overnight,0,2015-06-19,1100000,80.0,en,The Overnight,6.0,222,/65L466UR3h1jw8mTJhGmMZlj0eT.jpg,"[9648, 35]","['Mystery', 'Comedy']","['English', 'Français']","[1974, 63631]","['Duplass Brothers Productions', ""Gettin' Rad ...","['US', '']"
2,308024,tt3844362,The Overnight,0,2015-06-19,1100000,80.0,en,The Overnight,6.0,222,/65L466UR3h1jw8mTJhGmMZlj0eT.jpg,"[9648, 35]","['Mystery', 'Comedy']","['English', 'Français']","[1974, 63631]","['Duplass Brothers Productions', ""Gettin' Rad ...","['US', '']"
3,83770,tt0337692,On the Road,25000000,2012-05-22,8784318,137.0,en,On the Road,5.6,600,/k7LQteD02p3VHixbS6NXHkFdFwT.jpg,"[12, 18]","['Adventure', 'Drama']","['English', 'Français']","[8372, 70, 79077, 614, 83, 10611, 346, 21914, ...","['SPAD Films', 'American Zoetrope', 'Jerry Lei...","['', 'US', '', '', 'FR', 'FR', 'BR', 'AR', 'CA..."
4,83770,tt0337692,On the Road,25000000,2012-05-22,8784318,137.0,en,On the Road,5.6,600,/k7LQteD02p3VHixbS6NXHkFdFwT.jpg,"[12, 18]","['Adventure', 'Drama']","['English', 'Français']","[8372, 70, 79077, 614, 83, 10611, 346, 21914, ...","['SPAD Films', 'American Zoetrope', 'Jerry Lei...","['', 'US', '', '', 'FR', 'FR', 'BR', 'AR', 'CA..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2030,547590,tt7374952,El Chicano,0,2019-05-03,1370000,148.0,en,El Chicano,7.5,32,/6LSJL2KHUAxSjDTWA5V5Cr7sNNd.jpg,"[18, 28, 80]","['Drama', 'Action', 'Crime']",['English'],[99321],['WarParty Films'],['US']
2031,476968,tt7388562,"Paul, Apostle of Christ",5000000,2018-03-23,22525668,108.0,en,"Paul, Apostle of Christ",6.8,123,/2NUXG94dGMKYgJL1BkJGKynMb3l.jpg,[36],['History'],"['Español', 'English']","[81520, 10156, 105388]","['Outside Da Box', 'Affirm Films', 'ODB Films']","['', 'US', '']"
2032,491418,tt7401588,Instant Family,48000000,2018-11-16,14700000,118.0,en,Instant Family,7.5,1437,/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg,"[35, 18]","['Comedy', 'Drama']",['English'],"[8537, 4, 119509]","['Closest to the Hole Productions', 'Paramount...","['US', 'US', 'US']"
2033,493922,tt7784604,Hereditary,10000000,2018-06-07,79336821,127.0,en,Hereditary,7.1,3950,/lHV8HHlhwNup2VbpiACtlKzaGIQ.jpg,"[27, 9648, 53]","['Horror', 'Mystery', 'Thriller']",['English'],[24277],['PalmStar Media'],['US']
2034,532908,tt8632862,Fahrenheit 11/9,0,2018-09-10,0,128.0,en,Fahrenheit 11/9,7.2,247,/k2G8IO5oGHezde70Xv7falXhuWC.jpg,[99],['Documentary'],['English'],"[107992, 108737, 26137]","['Midwestern Films', 'State Run Films', 'Dog E...","['', '', 'US']"

In [33]:
from tqdm import trange
import time
movie_ratings = []

for i in trange(len(df['id'])):
    movie_id  = df['id'][i]
    try:
        time.sleep(0.1)
        movie_ratings.append(get_certification_by_id(movie_id))
    except:
        print(f"Error when retreiving {movie_id}")

100%|██████████| 2035/2035 [08:43<00:00,  3.89it/s]

In [35]:
ratings_df = pd.DataFrame.from_records(movie_ratings)
ratings_df.head()

       id certification                         certification_release_date
0  116977          [PG]                         [2013-05-07T00:00:00.000Z]
1  308024         [, R]  [2015-01-23T00:00:00.000Z, 2015-06-19T00:00:00...
2  308024         [, R]  [2015-01-23T00:00:00.000Z, 2015-06-19T00:00:00...
3   83770           [R]                         [2012-12-21T00:00:00.000Z]
4   83770           [R]                         [2012-12-21T00:00:00.000Z]

In [50]:
ratings_df

,id,certification,certification_release_date
0,116977,[PG],[2013-05-07T00:00:00.000Z]
1,308024,"[, R]","[2015-01-23T00:00:00.000Z, 2015-06-19T00:00:00..."
2,308024,"[, R]","[2015-01-23T00:00:00.000Z, 2015-06-19T00:00:00..."
3,83770,[R],[2012-12-21T00:00:00.000Z]
4,83770,[R],[2012-12-21T00:00:00.000Z]
...,...,...,...
2030,547590,"[, , ]","[2018-09-22T00:00:00.000Z, 2019-05-03T00:00:00..."
2031,476968,"[PG-13, PG-13]","[2018-03-28T00:00:00.000Z, 2018-06-19T00:00:00..."
2032,491418,"[, , PG-13]","[2019-03-05T00:00:00.000Z, 2019-02-19T00:00:00..."
2033,493922,"[, R, R, R]","[2018-09-04T00:00:00.000Z, 2018-01-21T00:00:00..."
2034,532908,"[R, R]","[2018-09-21T00:00:00.000Z, 2018-09-10T00:00:00..."

In [67]:
def clean_certification(row):
    if isinstance(row,list):
        out = ','.join(set([str(x) for x in row if len(x)>0]))
    else:
        return row
    return out

In [68]:
clean_certification(ratings_df['certification'][1])

'R'

In [70]:
ratings_df['rating'] = ratings_df['certification'].apply(clean_certification)

In [82]:
import numpy as np
dates = ratings_df['certification_release_date'].apply(lambda x:\
                                               x[0] if isinstance(x,list)\
                                               else np.nan)
ratings_df['release_date_cert'] = pd.to_datetime(dates)
ratings_df = ratings_df.drop(['certification','certification_release_date'],axis=1)
ratings_df

          id rating         release_date_cert
0     116977     PG 2013-05-07 00:00:00+00:00
1     308024      R 2015-01-23 00:00:00+00:00
2     308024      R 2015-01-23 00:00:00+00:00
3      83770      R 2012-12-21 00:00:00+00:00
4      83770      R 2012-12-21 00:00:00+00:00
...      ...    ...                       ...
2030  547590        2018-09-22 00:00:00+00:00
2031  476968  PG-13 2018-03-28 00:00:00+00:00
2032  491418  PG-13 2019-03-05 00:00:00+00:00
2033  493922      R 2018-09-04 00:00:00+00:00
2034  532908      R 2018-09-21 00:00:00+00:00

[2035 rows x 3 columns]

In [83]:
# ratings_df.to_csv('api_ratings_060320.csv')

In [88]:
df_merged = pd.merge(ratings_df,df,on='id',how="right")
df_merged

,id,rating,release_date_cert,imdb_id,title,budget,release_date,revenue,runtime,original_language,original_title,vote_average,vote_count,poster_path,genres_id,genres_name,spoken_languages_name,production_companies_id,production_companies_name,production_companies_origin_country
0,116977,PG,2013-05-07 00:00:00+00:00,tt0249516,Foodfight!,65000000,2012-06-15,73706,87.0,en,Foodfight!,1.7,76,/R1zn75Yz4wpdd85byqhP7mT6No.jpg,"[16, 28, 35, 10751]","['Animation', 'Action', 'Comedy', 'Family']",['English'],"[4174, 1632, 133802, 133803, 133804]","['Threshold Entertainment', 'Lionsgate', 'C47 ...","['', 'US', '', '', '']"
1,308024,R,2015-01-23 00:00:00+00:00,tt3844362,The Overnight,0,2015-06-19,1100000,80.0,en,The Overnight,6.0,222,/65L466UR3h1jw8mTJhGmMZlj0eT.jpg,"[9648, 35]","['Mystery', 'Comedy']","['English', 'Français']","[1974, 63631]","['Duplass Brothers Productions', ""Gettin' Rad ...","['US', '']"
2,308024,R,2015-01-23 00:00:00+00:00,tt3844362,The Overnight,0,2015-06-19,1100000,80.0,en,The Overnight,6.0,222,/65L466UR3h1jw8mTJhGmMZlj0eT.jpg,"[9648, 35]","['Mystery', 'Comedy']","['English', 'Français']","[1974, 63631]","['Duplass Brothers Productions', ""Gettin' Rad ...","['US', '']"
3,308024,R,2015-01-23 00:00:00+00:00,tt3844362,The Overnight,0,2015-06-19,1100000,80.0,en,The Overnight,6.0,222,/65L466UR3h1jw8mTJhGmMZlj0eT.jpg,"[9648, 35]","['Mystery', 'Comedy']","['English', 'Français']","[1974, 63631]","['Duplass Brothers Productions', ""Gettin' Rad ...","['US', '']"
4,308024,R,2015-01-23 00:00:00+00:00,tt3844362,The Overnight,0,2015-06-19,1100000,80.0,en,The Overnight,6.0,222,/65L466UR3h1jw8mTJhGmMZlj0eT.jpg,"[9648, 35]","['Mystery', 'Comedy']","['English', 'Français']","[1974, 63631]","['Duplass Brothers Productions', ""Gettin' Rad ...","['US', '']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3362,547590,,2018-09-22 00:00:00+00:00,tt7374952,El Chicano,0,2019-05-03,1370000,148.0,en,El Chicano,7.5,32,/6LSJL2KHUAxSjDTWA5V5Cr7sNNd.jpg,"[18, 28, 80]","['Drama', 'Action', 'Crime']",['English'],[99321],['WarParty Films'],['US']
3363,476968,PG-13,2018-03-28 00:00:00+00:00,tt7388562,"Paul, Apostle of Christ",5000000,2018-03-23,22525668,108.0,en,"Paul, Apostle of Christ",6.8,123,/2NUXG94dGMKYgJL1BkJGKynMb3l.jpg,[36],['History'],"['Español', 'English']","[81520, 10156, 105388]","['Outside Da Box', 'Affirm Films', 'ODB Films']","['', 'US', '']"
3364,491418,PG-13,2019-03-05 00:00:00+00:00,tt7401588,Instant Family,48000000,2018-11-16,14700000,118.0,en,Instant Family,7.5,1437,/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg,"[35, 18]","['Comedy', 'Drama']",['English'],"[8537, 4, 119509]","['Closest to the Hole Productions', 'Paramount...","['US', 'US', 'US']"
3365,493922,R,2018-09-04 00:00:00+00:00,tt7784604,Hereditary,10000000,2018-06-07,79336821,127.0,en,Hereditary,7.1,3950,/lHV8HHlhwNup2VbpiACtlKzaGIQ.jpg,"[27, 9648, 53]","['Horror', 'Mystery', 'Thriller']",['English'],[24277],['PalmStar Media'],['US']
3366,532908,R,2018-09-21 00:00:00+00:00,tt8632862,Fahrenheit 11/9,0,2018-09-10,0,128.0,en,Fahrenheit 11/9,7.2,247,/k2G8IO5oGHezde70Xv7falXhuWC.jpg,[99],['Documentary'],['English'],"[107992, 108737, 26137]","['Midwestern Films', 'State Run Films', 'Dog E...","['', '', 'US']"

In [90]:
df_merged =df_merged.drop_duplicates()
df_merged

,id,rating,release_date_cert,imdb_id,title,budget,release_date,revenue,runtime,original_language,original_title,vote_average,vote_count,poster_path,genres_id,genres_name,spoken_languages_name,production_companies_id,production_companies_name,production_companies_origin_country
0,116977,PG,2013-05-07 00:00:00+00:00,tt0249516,Foodfight!,65000000,2012-06-15,73706,87.0,en,Foodfight!,1.7,76,/R1zn75Yz4wpdd85byqhP7mT6No.jpg,"[16, 28, 35, 10751]","['Animation', 'Action', 'Comedy', 'Family']",['English'],"[4174, 1632, 133802, 133803, 133804]","['Threshold Entertainment', 'Lionsgate', 'C47 ...","['', 'US', '', '', '']"
1,308024,R,2015-01-23 00:00:00+00:00,tt3844362,The Overnight,0,2015-06-19,1100000,80.0,en,The Overnight,6.0,222,/65L466UR3h1jw8mTJhGmMZlj0eT.jpg,"[9648, 35]","['Mystery', 'Comedy']","['English', 'Français']","[1974, 63631]","['Duplass Brothers Productions', ""Gettin' Rad ...","['US', '']"
5,83770,R,2012-12-21 00:00:00+00:00,tt0337692,On the Road,25000000,2012-05-22,8784318,137.0,en,On the Road,5.6,600,/k7LQteD02p3VHixbS6NXHkFdFwT.jpg,"[12, 18]","['Adventure', 'Drama']","['English', 'Français']","[8372, 70, 79077, 614, 83, 10611, 346, 21914, ...","['SPAD Films', 'American Zoetrope', 'Jerry Lei...","['', 'US', '', '', 'FR', 'FR', 'BR', 'AR', 'CA..."
14,116745,PG,2013-12-25 00:00:00+00:00,tt0359950,The Secret Life of Walter Mitty,90000000,2013-12-18,188133322,114.0,en,The Secret Life of Walter Mitty,7.1,5561,/tY6ypjKOOtujhxiSwTmvA4OZ5IE.jpg,"[12, 35, 18, 14]","['Adventure', 'Comedy', 'Drama', 'Fantasy']",['English'],"[290, 22213, 9118, 12, 10893, 37336, 25, 2932]","['Ingenious Media', 'TSG Entertainment', 'Samu...","['GB', 'US', 'US', 'US', '', '', 'US', 'US']"
15,169917,R,2014-09-19 00:00:00+00:00,tt0365907,A Walk Among the Tombstones,28000000,2014-09-18,53181600,113.0,en,A Walk Among the Tombstones,6.3,1926,/bQTHTZezSudf27mMQtedHf1XpgO.jpg,"[80, 18, 9648, 53]","['Crime', 'Drama', 'Mystery', 'Thriller']",['English'],"[39043, 216, 40106, 11448, 10246, 8532, 40107,...","['Traveling Picture Show Company (TPSC)', 'Jer...","['', '', '', 'US', 'US', '', '', '']"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3362,547590,,2018-09-22 00:00:00+00:00,tt7374952,El Chicano,0,2019-05-03,1370000,148.0,en,El Chicano,7.5,32,/6LSJL2KHUAxSjDTWA5V5Cr7sNNd.jpg,"[18, 28, 80]","['Drama', 'Action', 'Crime']",['English'],[99321],['WarParty Films'],['US']
3363,476968,PG-13,2018-03-28 00:00:00+00:00,tt7388562,"Paul, Apostle of Christ",5000000,2018-03-23,22525668,108.0,en,"Paul, Apostle of Christ",6.8,123,/2NUXG94dGMKYgJL1BkJGKynMb3l.jpg,[36],['History'],"['Español', 'English']","[81520, 10156, 105388]","['Outside Da Box', 'Affirm Films', 'ODB Films']","['', 'US', '']"
3364,491418,PG-13,2019-03-05 00:00:00+00:00,tt7401588,Instant Family,48000000,2018-11-16,14700000,118.0,en,Instant Family,7.5,1437,/dic3GdmMpxxfkCQfvZnasb5ZkSG.jpg,"[35, 18]","['Comedy', 'Drama']",['English'],"[8537, 4, 119509]","['Closest to the Hole Productions', 'Paramount...","['US', 'US', 'US']"
3365,493922,R,2018-09-04 00:00:00+00:00,tt7784604,Hereditary,10000000,2018-06-07,79336821,127.0,en,Hereditary,7.1,3950,/lHV8HHlhwNup2VbpiACtlKzaGIQ.jpg,"[27, 9648, 53]","['Horror', 'Mystery', 'Thriller']",['English'],[24277],['PalmStar Media'],['US']
3366,532908,R,2018-09-21 00:00:00+00:00,tt8632862,Fahrenheit 11/9,0,2018-09-10,0,128.0,en,Fahrenheit 11/9,7.2,247,/k2G8IO5oGHezde70Xv7falXhuWC.jpg,[99],['Documentary'],['English'],"[107992, 108737, 26137]","['Midwestern Films', 'State Run Films', 'Dog E...","['', '', 'US']"

In [91]:
df_merged.to_csv('__api_results_combined.csv')

In [44]:
ratings_df['certification'].map(len)

TypeError: object of type 'float' has no len()

# Loop to get all IDs' release dates and certifications

In [128]:
pd.DataFrame(movie.release_dates())

       id                                            results
0  116977  {'iso_3166_1': 'US', 'release_dates': [{'certi...
1  116977  {'iso_3166_1': 'GB', 'release_dates': [{'certi...

In [121]:
# list(filter(lambda k: 'US' in k , movie.release_dates()['results'])#[0]['release_dates']

In [ ]:

for movie_id in ids:
    movie = tmdb.Movies(movie_id)
    release_dates = movie.release_dates()['results']

In [ ]:

search = tmdb.Search()
search.movie(query='Avatar')

# OLD

## Find by id
https://developers.themoviedb.org/3/find/find-by-id

- Need: 
    - external_df
    
    - api_key
    - language
    - external_source  (imdb_id, freebase_mid, freebase_id, tvdb_id, tvrage_id, facebook_id, twitter_id, instagram_id)
    
```python
url = f"https://api.themoviedb.org/3/find/tt0111414?api_key={api_key}&language=en-US&external_source={imdb_id}"
```

In [ ]:
id_ = None
source = "imdb_id"

base_find_url = "https://api.themoviedb.org/3/find/"
find_query = f"{base_find_url}{id_}?api_key={api_key}&language=en-US&external_source={source}"
find_query

https://api.themoviedb.org/3/movie/550?api_key=e9a24ea6085f06fdd272dab49ad70c2e